body {
    margin: 0;
    padding: 0;
   
    font-family: 'Roboto', sans-serif;
   
   
    
  }
  

  
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 0.5px solid silver;
    z-index: 1;

   
    
  }
  
  header .logo {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    position: relative;
     z-index: 1;
     border-right: 0.5px solid silver;
     border-left: 0.5px solid silver;
    padding: 0 20px;
     
    
  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  

  }
  
  header nav ul li {
    list-style: none;
    position: relative;
    z-index: 1;
    border-right: 0.5px solid silver;
     border-left: 0.5px solid silver;
     
  }
  
  header nav ul li.sub-menu:before {
    content: '\f078';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #fff;
    right: 1px;
    
    
  }
  header nav ul li.sub-menu:hover {
    color: black;
  }
  
  header nav ul li.active.sub-menu:before {
    content: '\f077';
    
  }
  
  header nav ul li ul {
    position: absolute;
    left: 0;
    background: transparent;
    display: none;
    transition: .5s all ease;
    border: 0.5px solid silver;
   
  }
  
  header nav ul li.active ul {
    /* use li: hover instead */
    display: block;
    
    
  }
 
  
  header nav ul li ul li {
    display: block;
    width: 200px;
    list-style: none;
    z-index: 1;
    border-bottom: 0.5px solid silver;
    
  }
  
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    letter-spacing: 0.2px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    display: block;
    transition: .5s all ease;
    
  }
  
  header nav ul li a:hover {
    color: black;
    background: #9ACD32
;
    text-decoration: none;
  }
  
  header nav ul li a.active {
    background: #2196f3;
  }
  
  .menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none
  }
/* pocetna */
 .page {
   background-image: url("../img/sumadija.jpg");
   background-size: cover;
   background-position: center center;
   display: inline-block;
   width: 100%;
   top: 0;
   bottom: 0;
   height: 100vh;
   z-index: -2;
   text-align: center;
 }
 .color-overlay {
   position: absolute;
   background-color: rgba(0,0,0,0.7);
   top: 0;
   bottom: 0;
   height: 100vh;
   width: 100%;

 }
 .page h1{
   text-align: center;
   margin: 220px 0 0 0; 
   color: white;
   position: relative;
   z-index: 1;
   font-size: 45px;
    font-weight: 300;
   font-family: 'Abril Fatface', cursive;
   letter-spacing: 1.5px;


 }
 .page h1 span{
   color: rgb(154,205,50);
   font-size: 65px;
   font-weight: 100;
   
 }
 .page p {
  margin-top: 5px;
  text-align: center;
  font-size: 23px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
 }



 .button {
  
  border: 1px solid rgb(154,205,50);
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 6px 4px;
  cursor: pointer;
  transition: .5s all ease;
  position: relative;
  z-index: 1;
  letter-spacing: 1px;
  font-size: 14px;
  
}

.button:hover {
  background: transparent;
  color: white;
  z-index: 1;
  border: 1px solid white;
  
}

.button8 {
  
  border: 1px solid white;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 6px 4px;
  cursor: pointer;
  transition: .5s all ease;
  position: relative;
  z-index: 1;
  letter-spacing: 0.5px;
  font-size: 14px;
  
}

.button8:hover {
  background: transparent;
  color: rgb(154,205,50);
  z-index: 1;
  border: 1px solid rgb(154,205,50);
  
}


.button5 {
  
  border: 1px solid black;
  color: black;
  padding: 10px 35px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin-left: 15px; 
  cursor: pointer;
  transition: .5s all ease;
  position: relative;
  z-index: 1;
  letter-spacing: 0.5px;
  font-size: 14px;
  
}

.button5:hover {
  background: transparent;
  color: white;
  z-index: 1;
  border: 1px solid white;
  
}

.button1 {
  
  border: 1px solid black;
  color: black;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 6px 10px;
  cursor: pointer;
  transition: .5s all ease;
  position: relative;
  z-index: 1;
  transition: .5s all ease;
  
}

.button1:hover {
  background: rgb(154,205,50);
  color: black;
  z-index: 1;
  text-decoration: none;
}


.button7 {
  
  border: 2px solid black;
  color: black;
  padding: 10px 35px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin-left: 0px;
  cursor: pointer;
  transition: .5s all ease;
  position: relative;
  z-index: 1;
  transition: .5s all ease;
  
}

.button7:hover {
  background: rgb(154,205,50);
  color: black;
  z-index: 1;
  text-decoration: none;
}
@keyframes ani-mouse {
  0% {
      opacity: 1;
      top: 29%;
  }
  15% {
      opacity: 1;
      top: 50%;
  }
  50% {
      opacity: 1;
      top: 50%;
  }
  100% {
      opacity: 1;
      top: 50%;
  }

}
.scrol-btn {
  display: block;
  margin-top: 200px;
  position: absolute;
  
  left: 0;
  right: 0;
  text-align: center;
  margin-left: -30px;
}

.scrol-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #d2d9da;
  color: #ffffff;
  font-family: tahoma;
  letter-spacing: 2px;

}

.scrol-btn > *:hover,
.scrol-btn > *:focus,
.scrol-btn > *:active,
.scrol-btn > *:active {
  opacity: 0.8;
  filter: alpha(opacity=80);

}

.scrol-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}

.scrol-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: rgb(154,205,50);
  border-radius: 50%;
  animation: ani-mouse 2s linear infinite;

}




/* pocetna */
.page2 {
  background-image: url("../img/drvi.jpg");
  background-size: cover;
  background-position: center ;
  display: inline-block;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -6;
  text-align: center;
}
.color-overlay2 {
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;

}
.page2 h1 {
  text-align: center;
   margin: 150px 0 0 0; 
   font-size: 45px;
   color: white;
  
   z-index: 4;
   font-size: 50px;
   font-weight: 100;
   font-family: 'Abril Fatface', cursive;
   letter-spacing: 3px;


}
.page2 p {
  margin-top: 5px;
  text-align: center;
  font-size: 22px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 100;
 
 
}
.page2 i {
  color: white;
  position: relative;
  z-index: 1;
  font-size: 25px;
  
}
.etno-area h1 {
  text-align: center;
    margin-top: 120px;
   font-size: 45px;
   color: white;
  
   z-index: 4;
  
   font-weight: 100;
   font-family: 'Abril Fatface', cursive;
   letter-spacing: 1px;
}
.prava {
  text-align: center;
  width: 85px;
  color: black;
}

.carousel-caption1 {
  
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;
  text-align: center;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 
 
}
.carousel-caption1 h2 {
  text-align: center;
  color: white;

}
.carousel-caption1 p{
  color: white;
  text-align: justify;
}

.carousel {
    position: relative;
}

.controllers {
    position: absolute;
    top: 0;
 
}




.carousel-control.left, 
.carousel-control.right {
    background-image: none;
   
}




/**** Kontakt****/
.kontakt h1 {
  text-align: center;
  margin-top: 110px;
 font-size: 50px;
 color: white;
 z-index: 4;
 font-weight: 100;
 font-family: 'Abril Fatface', cursive;
 letter-spacing: 1px;
 
}
.contact {
  text-align: center;
}

#contact .card i {
  color: rgba(233, 182, 182, 0.479);
}
#contact .card:hover i,#contact .card:hover h4{
	color: white;
}
.card h4{
  color: white;
  font-size: 22px;
}
.card p{
  color: white;
  font-size: 16px;
}
.card address{
  color: white;
  font-size: 16px;
}


/**** LAYOUT ****/
.list-inline>li {
  padding: 0 10px 0 0;
}
.container-pad {
  padding: 30px 15px;
}
.container-pad h2 {
  text-align: justify;
   margin-top: 25px;
    
 
  color: white;
 
  z-index: 4;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;


}
.lokacija {
  text-align: center;
  color: #e8e8e8;
}
.container-pad h1 {
  text-align: center;
   margin-top: 35px;
 
  color: white;
 
  z-index: 4;
  font-size: 45px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;


}

/**** MODULE ****/
.bgc-fff {
  background-color: #fff!important;
}
.box-shad {
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
  border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
  font-size: .9em;
}
.fnt-lighter {
  color: #bbb;
}

/* Padding - Margins */
.pad-10 {
  padding: 10px!important;
}
.mrg-0 {
  margin: 0!important;
}
.btm-mrg-10 {
  margin-bottom: 10px!important;
}
.btm-mrg-20 {
  margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
  color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
  #property-listings .property-listing {
      padding: 5px!important;
  }
  #property-listings .property-listing a {
      margin: 0;
  }
  #property-listings .property-listing .media-body {
      padding: 10px;
  }
}

@media only screen and (min-width: 992px) {
  #property-listings .property-listing img {
      max-width: 180px;
  }
}

.content-nama p{
  padding: 15px 25px 0 25px; 
  

  color: white;
  text-align: center;
  font-size: 17px; 
  font-weight: 100; 
}

/*sponzori*/
.page6 h1 {
  text-align: center;
 
  font-size: 40px;
  color: white;
  margin-top: 85px;
  z-index: 1;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}
.sponzori {
  text-align: center;
}
.sponzori h1 {
  margin-left: 10px;
  padding-left: 10px; 
  text-align: left;
   font-size: 35px;
   color: black;
   position: relative;
   z-index: 1;
   border-left: 2px solid black; 
   font-weight: 100;
 

}
.sponzori p {
  color: white;
}
.sponzori h2 {
  color: white;
  font-weight: 800;
}
.linija {
  margin-left: 10px;
  margin-right: 10px;
  color: silver;

}
.sponzori img {
  align-items: center;
  width: 40%;
  padding: 5px;
  border: 1px solid silver;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.301);
-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.397);
box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.329);


}





/*treca strana*/

.page3 {
 margin-top: 50px;
 width: 100%;
}

.kultura1 h1{
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 85px;
  z-index: 1;
  
  font-weight: 500;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.5px;
  
}
.kultura1 p {
  text-align: center;
  color: white;
  font-size: 15px;
}

.proizvodi h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 85px;
  z-index: 1;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;

 
}

/* blog */

.content-blog {
  margin-top: 0;
  background-image: url("../img/sumadija-card2.jpg");
  background-position: center;
  min-height: 501px;
  background-size: cover;
  display: inline-block;
  width: 100vw;
  
}

.content-blog h1 {
  text-align: center;
 margin-top: 150px;
  font-size: 45px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}
.content-blog p {
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  
}

.content-blog2 p {
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  
}
.color-overlay3 {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.color-overlay4 {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  height: 500px;
  width: 100%;
}
.background-bar {
  background: #dedede;
  height: 0px;
  -webkit-box-shadow: inset 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    inset 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         inset 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
  
}

.main-body {
  background: #ffffff;
  -webkit-box-shadow: 0px -4px 14px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px -4px 14px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         0px -4px 14px 0px rgba(50, 50, 50, 0.35);
}

.content-holder {
  margin-top: -140px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 2px;
}

.content-description {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #fff;
  height: 130px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 12px 4px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 12px 4px rgba(50, 50, 50, 0.75);
}

.author-social {
  position: absolute;
  margin-top: -35px;
}
.author-social-left {
  left : 0;
  width: 40%;
  text-align: right;
}
.author-social-right {
  right : 0;
  width: 40%;
}
.author-social img {
  background: #e8e8e8;
  border-radius: 50%;
  border: 2px solid #e8e8e8;
}

.author-avatar {
  text-align:center;
  margin-top: -70px;
}
.author-avatar img {
  width: 100px;
  border: 4px solid #e8e8e8;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 12px 4px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 12px 4px rgba(50, 50, 50, 0.75);
}
.author-name {
  margin-top: 25px; 
  text-align:center;
}
.blog-info {
  text-align: center;
}

.content-body {
  background: #fff;
  min-height: 600px;
  padding: 40px 5px;
  font-size: 1.2em;
  color: #303030;
}


/* druga */


/* [ kultra-strana 2  */
.content-blog2 {
  margin-top: 0;
  background-image: url("../img/pokajnica.jpg");
  background-position: center;
  min-height: 500px;
  background-size: cover;
  display: inline-block;
  width: 100vw;

}
.content-blog4 {
  margin-top: 0;
  background-image: url("../img/resavska.jpg");
  background-position: center;
  min-height: 500px;
  background-size: cover;
  display: inline-block;
  width: 100vw;
}

.content-blog2  h1{
  text-align: center;
 margin-top: 150px;
  font-size: 45px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 3px;
}

/* [ kultra-strana 3 */
.content-blog3 {
  margin-top: 0;
  background-image: url("../img/rudnik.jpg");
  background-position: center;
  min-height: 500px;
  background-size: cover;
  display: inline-block;
  width: 100vw;
}
.content-blog3  h1{
  text-align: center;
 margin-top: 150px;
  font-size: 45px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 3px;
}
.content-blog3 p{
  color: white;
  position: relative;
  text-align: center;
  font-style: italic;
}

/* [ kultra-strana 4 */

.content-blog4  h1{
  text-align: center;
 margin-top: 150px;
  font-size: 45px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}
.content-blog4 p {
  color: white;
  position: relative;
  text-align: center;
  font-style: italic;
}

/* [ kultra-strana 5 */
.content-blog5  {
  margin-top: 0;
  background-image: url("../img/lisine.jpg");
  background-position: center;
  min-height: 500px;
  background-size: cover;
  display: inline-block;
  width: 100vw;
}
.content-blog5  h1{
  text-align: center;
 margin-top: 100px;
  font-size: 45px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 3px;
}
.content-blog5 p {
  color: white;
  position: relative;
  text-align: center;
  font-style: italic;
}
/* [ kultra-strana 6 */
.content-blog6 {
  margin-top: 0;
  background-image: url("../img/manasija.jpg");
  background-position: center ;
 
  min-height: 500px;
  background-size: cover;
  display: inline-block;
  width: 100vw;

}
.content-blog6  h1{
  text-align: center;
 margin-top: 150px;
  font-size: 45px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 3px;
}
.content-blog6 p {
  color: white;
  position: relative;
  text-align: center;
  font-style: italic;
}


/*back to top*/
.back-to-top,
.back-to-top::after,
.back-to-top-text {
    transition: all 0.25s ease-in-out;
}

.back-to-top,
.back-to-top::after {
    position: fixed;
    height: 45px;
    width: 45px;
    color:black;
    opacity: 0.75;
    padding: 3px 5px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
}

.back-to-top {
    right: 1.5%;
    bottom: -12%;
    z-index: 3;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(-45deg);
    background: yellow;
}

.back-to-top::after {
    display: inline-block;
    content: "";
    right:  -1px;
    bottom: 0;
    border-width: 1px;
    background: transparent;
}

.back-to-top-text {
    display: block;
    transform: rotate(45deg) translate(25%,75%);
}

.back-to-top:hover,
.back-to-top:focus,
.back-to-top:hover::after,
.back-to-top:focus::after,
.back-to-top:hover .back-to-top-text,
.back-to-top:focus .back-to-top-text {
    opacity: 1;
}

.back-to-top:hover::after,
.back-to-top:focus::after {
    transform: translate(25%,-25%);
}

.back-to-top:hover .back-to-top-text,
.back-to-top:focus .back-to-top-text {
    transform: rotate(45deg) translate(25%,0);
}

.show-back-to-top {
    bottom: 4%;
}



    
    .centered {
      background-color: white;
      margin: 0;
    }
    section.cards {
      padding: 0;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: left;
      
      
   }
    
   .card1 {
       flex: 0 1 33%;
       align-items: left;
       text-align: left;
       padding: 5px;
       margin: 0;
       
   }
   .retro {
    
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(28, 64, 102, 0.9), 
      rgba(43, 47, 87, 0.9)
    ),
    /* bottom, image */
    url("../img/suma1.jpg");
    background-size: cover;
    background-position: center center;
    
    
     width: 464px;
     height: 300px; 
   }
   .retro1  h5 {
     padding-left: 15px;
    text-align: left;
    font-weight: 300;
    font-size: 23px;
    color: white;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
   

    
 }
 .retro2  h5 {
  padding-left: 15px;
  text-align: left;
  font-weight: 300;
  font-size: 23px;
  color: white;
  letter-spacing: 0.2px;
  font-family: 'Roboto', sans-serif;
 

  
}
.retro  h5 {
  padding-left: 15px;
  text-align: left;
  font-size: 23px;
  color: white;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  
  
  
  

  
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

    .mora{
      color: white;
      font-size: 40px;
      padding-top: 5px;
      margin: 0;
      text-align: left;
      padding-left: 18px;
      z-index: 1;
      transition: 0.5;
     
     

   }
   .mora:hover {
      color: white;
   }
  
   .retro p{
     color: white;
     z-index: 1;
     font-weight: 300;
     text-align: left;
     padding-left: 15px;
     
     
    
    
   }
   .retro1 p{
    color: white;
    z-index: 1;
    font-weight: 300;
    
    padding-left: 15px;
    text-align: left;
   
    
  }
  .retro2 p{
    color: white;
    z-index: 1;
    font-weight: 300;
    text-align: left;
    padding-left: 15px;
   
    
  }
   .retro1 {
    
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 0, 0, 0.6), 
      rgba(87, 36, 36, 0.7)
    ),
    /* bottom, image */
    url("../img/suma2.jpg");
    background-size: cover;
     background-position: center center;
    
     width: 464px;
     height: 300px; 
   }
   .retro2 {
    
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(80, 67, 32, 0.8), 
      rgba(85, 76, 34, 0.8)
    ),
    /* bottom, image */
    url("../img/suma3.jpg");
    background-size: cover;
   background-position: center center;
    
     width: 464px;
     height: 300px; 
   }
   
  .rada h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 45px; 
    color: black;
    border-left: #000 solid 2px;
  
   
    
  }

  .horizontal {
    height: 1px;
    width: 85px;
    background-color: #000;
  
  }
  .horizontal1 {
    height: 0.5px;
    width: 85px;
    background-color: white;
    position: relative;
    z-index: 1;
  
  }
 
  .normal {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    
    text-align: justify;
    color: black;
    font-size: 15px;
    
  }
  .italik {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    text-align: justify;
    color: rgb(46, 46, 46);
    
    color: black;
    margin-top: 45px;

   
  }
  /*counting */
.stat {
  margin-top: 25px;
  background: url("../img/zzz.png");
  width: 100%;
  
 
  background-position: center;
  background-size: cover;

  
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.stat i {
  font-size: 45px;
  color: rgb(65, 65, 65);
}
.stat-items h2 {


  font-weight: bolder;
  font-size: 32px;
    color: black;
}
.stat p {
 
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
/*team */
#skills1 {
  margin-top: 20px;
}
.skillbar {
  position: relative;
  display: block;
  margin: 0 auto 5px;
  width: 100%;
  height: 40px;
  transition: 0.4s linear;
  transition-property: width,background-color;
}
.skillbar-title {
  font-size: 15px;
  color: #555;
  margin-bottom: 5px;
  text-transform: uppercase;


}
.skillbar-bar {
  height: 2px;
  width: 90%;
  background: #000;
  border-radius: 3px;


}
.pull-right {
  margin-top: 35px;
  margin-right: -10px;
}
.skill_area p {
  text-align: justify;
  width: 90%;
}
.team-item {
  position: relative;
}
.team-item .info {
  padding-top: 0;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 1s;

}
.team-item .info h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #bfa67a;
  transition: all 0.1s;

}
.section_title h2 {
 font-size: 45px;

}
.team-item:hover .info h5 {
  margin-bottom: 10px;
}
.team-item .info h6{
  font-size: 16px;
  margin-bottom: 0px;
  color: #eee;
  transition: all 0.1s;
}
.team-item:hover .info h6{
  margin-bottom: 10px;

}
.team-item:hover .info{
  padding-top: 40%;
}
.team-item .soical-icon {
  color: white;
  text-align: center;
  opacity: 0;
  transition: all .1s;

}
.team-item .soical-icon span {
  margin: 10px;
  transition: all .1s;
  color: #eee;
}
.team-item:hover .info {
  opacity: 1;
}
.team-item:hover .soical-icon {
  opacity: 1;
}







  
  .rada img {
    float: right;
   

  }
  .hedara {
    float: none;
  }
  .hedara h1 {
    text-align: center;
    font-weight: 500;
    margin-top: 100px;
    color: #000;
    font-size: 35px;
  }
  
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    height: 650px;
    margin: auto;
  }
  .carousel-caption h3 {
    color: white;
    font-size: 40px;
    background-color: rgb(46, 46, 46, 0.4);
    font-weight: 200;
  }
  .carousel-caption p{
    color: white;
    
    background-color: rgb(46, 46, 46, 0.4);
    font-weight: 200;

  }
  section {
    padding: 60px 0;
}
.section_subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  
}
.latest-news-area h2 {
  text-align: center;
  
  font-size: 35px;
}

.latest-news-area {
  margin-top: 40px;
 
  text-align: center;
  
}
.latest-news-wrap {
  box-shadow: 5px 10px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.301);
-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.397);
box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.329);


 
 
}
.author-name h3 {
  font-size:  40px;
  color: #000;
}
.news-img {
  position: relative;
}
.news-img:before{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0;
  transform: scale(.8);
  transition: all 0.5s;
  
}


.news-img {
  position: relative;
  
}
.news-img:before{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0;
  transform: scale(.8);
  transition: all 0.5s;
  
  
}
.latest-news-wrap:hover .news-img:before {
  opacity: 0.5;
  transform: scale(1);
}
.deat {
  background: rgb(154,205,50) none repeat scroll 0 0;
  height: 70px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 70px;
  padding: 10px;
}
.deat span {
  display: block;
  color: black;
  font-weight: 700;
  font-size: 16px;
}
.news-content {
  padding: 20px;
  margin-left: 3px;
}
.news-content {
  color: white;
}

.news-content i{
  font-size: 18px;
  display: inline-block;
}
.jumbotron {
  background-image: url("../img/prozivod.jpg");
  background-size: cover;
  caret-color: white;
 
  margin-top: 0;
  height: 50vh;

 
  
}
.jumbotron h1{
  color: white;
  margin-top: 30px;
  text-align: center;
   position: relative;
  
  font-size: 45px;
}
.jumbotron p {
  color: white;
  position: relative;
  text-align: center;
  
   font-size: 16px;
   padding: 10px;
}
.cena-sadnice h2 {
  color: white;
}
.cena-sadnice p {
  color: white;
  font-weight: 100;
  font-size: 16px;
}
.cena-sadnice ul li {
  color: white;
}
.color-overlay4 {

 
  margin-top: 0;
  background-position: center;
  min-height: 500px;
  background-size: cover;
  display: inline-block;
  width: 100vw;
 

}
.color-overlay3 {

 
  background-color: rgba(0,0,0,0.6);
 
  height: 500px;
 

}

.kultura h1 {
  color: black;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.5;
  margin: 0;
}

.news-content p {
  margin-bottom: 15px;
  text-align: justify;
  margin-top: 15px; 
  font-weight: 100;

}
.news-content button1{
  font-size: 14px;
  background-color: #e0ad23;
  padding: 10px 20px;
  color: white;
  transition: 0.5s ease-in;
  text-decoration: none;
} 
.news-content .button1:hover {
  background: yellow;
  color: black;
  z-index: 1;
  border: 2px solid black;
}
.news-content1 h3 {
  padding-left: 10px;
  color: black;
}

.news-content1 p {
  margin-bottom: 15px;
  text-align: justify;
  margin-top: 15px; 
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
}
.news-content1 .button2{
  font-size: 14px;
  background-color: #e0ad23;
  padding: 10px 20px;
  color: white;
  transition: 0.5s ease-in;
  text-decoration: none;
  
} 
.news-content1 .button2:hover {
  background: yellow;
  color: black;
  z-index: 1;
  border: 2px solid black;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: silver !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 1px solid black;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}
#footer a {
    color: black;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
.list-unstyled h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
  margin-top:-10px;
  color: blue;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color: black;
}
#footer ul.social li a:hover{
	color: black;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

    
 

@media screen and (max-width: 992px) {
.articleShort{
  flex:1 1 100%;
  }
}
@media screen and (max-width: 480px) {
  .card{flex-direction:column;}
    
  .card-content h3 p{
    text-align:center;
    }
    .retro {
        
      width: 310px;
    }
    .retro1 {
        
      width: 310px;
    }
    .retro2 {
        
      width: 310px;
    }
    .centered {
      justify-content: center;
    
    }
    .retro1  h5 {
     
      font-size: 22px;
      color: white;
   
  
      
   }
   .retro2  h5 {
    
    font-size: 22px;
    
  
    
  }
  .retro  h5 {
    
    font-size: 22px;
    color: white;
    
    
  
    
  }
    .cards {
      justify-content: left;
      text-align: left;
     
   }
   .carousel-inner > .item > img,
     .carousel-inner > .item > a > img {
       width: 100%;
       height: 380px;
       margin: auto;
     }
     .mora {
       text-align: left;
     }
   
    
   
    
    
  }

  @media screen and (max-width: 320px) {
    .card{flex-direction:column;}
      
    .card-content h3 p{
      text-align:center;
      }
      .retro {
        
        width: 310px;
      }
      .retro1 {
          
        width: 310px;
      }
      .retro2 {
          
        width: 310px;
      }
      .centered {
        justify-content: center;
      }
      .cards {
        justify-content: center;
        text-align: center;
     }
     .carousel-inner > .item > img,
     .carousel-inner > .item > a > img {
       width: 100%;
       height: 350px;
       margin: auto;
     }
     .page2 h1 {
       margin-top: 120px;
     }
     .content-nama p{
      padding: 15px 5px; 
      
    
    
    }
    .sponzori img {
      align-items: center;
      width: 40%;
    }
    
  }
   
    
      
     
      
      
    
    @media screen and (max-width: 768px) {
      .card{flex-direction:column;}
        
      .card-content h3 p{
        text-align:center;
        }
        
        .retro {
        
          width: 310px;
        }
        .retro1 {
            
          width: 310px;
        }
        .retro2 {
            
          width: 310px;
        }
        .centered {
          justify-content: center;
        }
        .cards {
          justify-content: center;
          text-align: center;
       }
       .carousel-inner > .item > img,
     .carousel-inner > .item > a > img {
       width: 100%;
       height: 400px;
       margin: auto;
     }
     .page2 h1 {
      margin-top: 120px;
    }
    .content-blog {
      min-height: 300px;
  }
  .author-avatar {
      margin-top: -50px;
  }
.author-avatar img {
    width: 65px;
}
.author-name h3 {
    font-size: 28px;
}
.author-social {
    margin-top: -25px;
}
.author-social img {
    width: 32px;
}
.color-overlay3 {
  height: 300px;
}
.button {
  cursor: pointer;
}
.content-blog h1 {
  margin-top: 50px;
}
.content-blog2 h1 {
  margin-top: 60px;
}
.content-blog3  h1 {
  margin-top: 100px;
}
.content-blog4 h1{
  margin-top: 100px;

} 
.content-blog5 h1{
  margin-top: 100px;

} 
.content-blog6 h1{
  margin-top: 100px;

} 
.sponzori h2 {
  font-size: 21px;
}
.sponzori h1 {
  font-size: 25px;
}


   
        
       
        
        
      }
  

  


  
  
  @media (max-width: 860px) {
    header {
      padding: 0 20px;
      z-index: 3;
    }
    .menu-toggle {
      display: block;
    }
    header nav {
      /* use display none or left:-100% to hide the nav  */
      /* display: none; */
      position: absolute;
      top: 50px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 50px);
      background: rgba(0, 0, 0, .9);
      transition: 0.5s;
    }
    header nav.active {
      left: 0;
    }
    header nav ul {
      display: block;
      text-align: center;
    }
    header nav ul li a {
      border-bottom: 0.9px solid rgba(236, 229, 229, 0.5);
      font-weight: 100;
    }
    header nav ul li.active ul {
      position: relative;
      background: rgba(150, 144, 144, 0.5);
    }
    header nav ul li ul li {
      width: 100%;
    }
    .page h1 {
      text-align: center;
      line-height: 40px;
      letter-spacing: 1px;
      font-weight: 100;
      font-size: 45px;
      
    }
    .page h1 span {
      line-height: 62px;
      letter-spacing: 1px;
      font-size: 55px;
     
    }
    .page p {
      font-size: 19px;
      font-weight: 100;
    }
    .scrol-btn {
      display: none;
    } 
    .sponzori img {
      align-items: center;
      width: 80%;
    }
   
    
  }

 

  
     
      
  